<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Energysaving"
        android:label="Voltafare"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Energysaving"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Energysaving" />
        <activity android:name=".LoginActivity"
            android:exported="false"
            android:label="LoginActivity"
            android:theme="@style/Theme.Energysaving" />
        <activity
            android:name=".StartActivity"
            android:exported="false"
            android:theme="@style/Theme.Energysaving"/>
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Energysaving"/>
        <activity
            android:name=".DeviceDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Energysaving"/>
        <activity
            android:name=".DeviceTypeActivity"
            android:exported="false"
            android:theme="@style/Theme.Energysaving"/>
        <activity
            android:name=".DeviceControlActivity"
            android:exported="false"
            android:theme="@style/Theme.Energysaving"/>
        <activity
            android:name=".RLog"
            android:exported="true"
            android:theme="@style/Theme.Energysaving">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>